# Use at least 32 cryptographically random characters from A-Z, a-z, 0-9, _ and -.
POSTGRES_PASSWORD=
BETTER_AUTH_SECRET=

DOMAIN=vault.example.com
CLIENT_URL=https://vault.example.com
BETTER_AUTH_URL=https://vault.example.com

RESEND_API_KEY=
EMAIL_FROM=SnippetVault <noreply@example.com>

AI_KEY_SECRET=
TURNSTILE_SECRET_KEY=

GOOGLE_CLIENT_ID=placeholder
GOOGLE_CLIENT_SECRET=placeholder
GITHUB_CLIENT_ID=placeholder
GITHUB_CLIENT_SECRET=placeholder
