PORT=3000
DATABASE_URL=postgresql://user:password@localhost:5433/snippetvault
CLIENT_URL=http://localhost:5173
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=
AI_KEY_SECRET=
TURNSTILE_SECRET_KEY=
RESEND_API_KEY=
GOOGLE_CLIENT_ID=placeholder
GOOGLE_CLIENT_SECRET=placeholder
GITHUB_CLIENT_ID=placeholder
GITHUB_CLIENT_SECRET=placeholder
